* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* NavBar */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 150px;
  height: 60px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  margin-right: auto;
}

/* Showcase section */
.showcase {
  /* To occupy the entire container width which is set to 100% above */
  width: 100%;

  /* Constant height across all screens */
  height: 400px;

  /* Ideal background properties to any background image */
  background: url("../images/surfacedeals.jpg") no-repeat center center/cover;

  /* To position the h2 p and button in the showcase section */
  display: flex;
  /* It will be easier to make everything vertical with changing the flex direction */
  flex-direction: column;

  /* To push the content to the very bottom of the showcase header */
  justify-content: flex-end;
  /* To place the items in the center of the screen */
  align-items: center;

  /* To place the items below the showcase a little far */
  margin-bottom: 20px;
  /* To lift up the h2 p and button to little high */
  padding-bottom: 30px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}
