body {
  overflow-x: hidden;
}

.contactSection {
  padding: 100px;
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form {
  background: #f9f9f9;
  padding: 60px 40px 20px;
  min-width: calc(100% - 400px);
  margin: 10px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.input50 {
  width: 49%;
}

.input100 {
  width: 100%;
}

input,
textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  resize: none;
  font-size: 16px;
}

textarea {
  height: 150px;
}

.button {
  background: red;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.button:hover {
  transform: scale(0.98);
}

.address {
  background: #f9f9f9;
  width: 350px;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
}

.addressItem {
  padding: 10px;
  margin-bottom: 5px;
}

.addressItem h3 {
  margin-bottom: 10px;
}

.addressItem p {
  margin: 0;
}

@media (max-width: 1068px) {
  .contactSection {
    padding: 100px 40px;
  }

  .input50 {
    width: 100%;
    margin-bottom: 10px;
  }
}
