/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --primary-color: #f60f20;
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}

/* Commons styles across webpage */
h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 1.1rem;
  margin: 20px 0 10px;
}

/* Utility styles for icons */
.fab {
  margin: 0 5px;
  transition: transform 250ms ease-in-out;
  color: black;
}

.fab:hover {
  transform: scale(1.5);
}

.btn {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 15px 0;
  padding: 10px 13px;
  transition: all 250ms ease-in-out;
  letter-spacing: 2px;
}

.btn:hover {
  letter-spacing: 4px;
}

/* Hiding the navigation by default */
.navigation {
  display: none;
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 10;
}

/* Toggle */
.toggle {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

/* section */
section {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 100px;
}

.home-content {
  z-index: 10;
  max-width: 600px;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  /* Decrease the height based on the browser height */
  height: 100%;
}
