/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}

/* Utility styles for icons */
.fab {
  margin: 0 5px;
  transition: transform 250ms ease-in-out;
  color: black;
}

.fab:hover {
  transform: scale(1.5);
}

/* Hiding the navigation by default */
.navigation {
  display: none;
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 10;
}
