.workSection {
  padding: 100px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio .item {
  width: 300px;
  height: 300px;
  margin: 5px;
  position: relative;
}

.item > img {
  width: 100%;
}

.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* This is used to hide the overlay by default */
  opacity: 0;
}

.portfolio .item .action:hover {
  opacity: 1;
}

.action > a {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}

@media (max-width: 1068px) {
  .workSection {
    padding: 100px 40px;
  }
}
