@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

/* CSS reset for Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP";
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:is */
:is(h1, h2, h3, p) {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Any sibling that has a sibling before it */
.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  border-radius: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--clr-accent, blue);
  color: var(--clr-text, white);
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0.5rem 1.25rem;
  transition: transform 250ms ease-in-out, opacity 175ms linear;
}

.btn:hover,
btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

/* Header styles */
.primary-title {
  font-size: 4rem;
  /* Responsive typography: https://youtu.be/X1dz0xRbSJc?t=1041 */
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  padding-top: 12rem;
  height: 100vh;
  color: #fff;

  /* Checks if the browser supports background-blend-mode 
  https://youtu.be/X1dz0xRbSJc?t=1283
  */
  background-image: url(../images/shoe-3.png), radial-gradient(#444, #111);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  /* This is used to stick the background image while scrolling */
  background-attachment: fixed;
}

/* Featured Products */
.featured {
  background: #eee;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(4vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
}

.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 5rem 0;
}

.split > * {
  flex-basis: 30%;
  min-width: 15rem;
}

.featured-item {
  display: block;
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
}

.featured-item:hover,
.featured-item:focus {
  transform: scale(1.1);
}

.featured-item::after {
  content: "";
  position: absolute;
  padding: 100% 100% 0 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: #2193b0;
  top: 0;
  left: 0;
  z-index: -1;
}
