* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
  background: #000000;
  color: #999999;
}

:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Utility classes */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-large {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  padding: 0 2rem;
}

.text-large {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999999;
}

.text-white {
  color: white;
  font-size: 1.2rem;
}

/* ############################################### */
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../images/background.jpg") no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Top of everything */
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);

  /* Shadow inset */
  box-shadow: inset 320px 100px 250px #000000, inset -320px -100px 250px #000000;
}
/* ###################################################################### */

/* Showcase top which holds logo and sign in */
.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(-50%, -50%);
}

/* Showcase content which holds the content */
.showcase-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
}

.showcase-content h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* Tabs */

.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div:hover {
  cursor: pointer;
  color: white;
}

.tab-border {
  border-bottom: 4px solid var(--primary-color);
}

/* Tab Contents */
#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 500px;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#tab-2-content .tab-2-content-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

#tab-3-content .tab-3-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Table */
.table {
  width: 100%;
  margin: 3rem 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody tr td {
  color: #999;
  padding: 0.8rem 1rem;
  height: 30px;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background: #222;
  color: white;
}

/* Footer styles */
.footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid var(--primary-color);
}

.footer-cols ul li {
  line-height: 3;
  text-align: left;
}

.footer-cols ul li:hover {
  border-bottom: 1px solid red;
}

/* Media queries */
@media (max-width: 900px) {
  .showcase {
    height: 70vh;
  }

  .showcase-top img {
    top: 3%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-top a {
    top: 60%;
  }

  .showcase-content {
    margin-top: 5rem;
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .showcase::after {
    box-shadow: inset 120px 50px 150px #000000, inset -120px -50px 150px #000000;
  }

  .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-large {
    font-size: 1rem;
    padding: 1.4rem 2rem;
  }

  .text-large {
    font-size: 1.5rem;
  }

  .hide-sm {
    display: none;
  }
}

@media (max-width: 700px) {
  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top,
  #tab-3-content .tab-3-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    display: block;
    text-align: center;
  }

  .btn-large {
    font-size: 0.8rem;
    padding: 1.4rem 2rem;
  }

  .footer-cols {
    grid-template-columns: 1fr;
    border: none;
  }

  .footer-cols ul {
    border-bottom: 1px solid red;
  }

  .footer-cols ul:last-child {
    border-bottom: none;
  }
}
